*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    transition: .1s linear;
}
.navbar-nav a:hover{
    color: red;
}
.box-container{
    padding-left: 10px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(142px,1fr));
    gap:15px;
}
.box-container .box h6{
    padding-top: 5px;
}
.box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 20px 40px 5px 40px;
    border-radius: 5px;
    text-align: center;
}
.box-container .box i{
    border: 2px solid black;
    padding: 25px 10px;
    border: none;
    color: #e1390e;
}
.box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
    cursor: pointer;
}
.box-container .box:hover i{
    border-radius: 50%;
    background-color: #e1390e;
    color:#fff;
}

.box-container1{
    padding-left: 20px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap:15px;
}
.box-container1 img{
    width: 250px;
    height: 200px;
    display: block;
    margin: auto;
}
.box-container1 .box{
    padding: 20px;
}
.box-container1 .box button{
    background-color: #fff;
    color: #e1390e;
}
.box-container1 .box:hover{
    cursor: pointer;
    transform: scale(1.003);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.box-container1 .box:hover button{
    background: #e1390e;
    color: white;
}
.box-container1 h3{
    text-align: center;
    padding-top: 20px;
}
.box-container1 p{
    text-align: center;
}
.box-container1 button{
    display: block;
    margin: auto;
}
.bg-footer{
    background-color:orangered;
    padding: 50px 0 30px;
}

.bg-footer a{
    text-decoration: none;
    color: #aeaeaeae;
}

.navbar{
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: #fff;
    box-shadow: 0 .125rem .125rem -0.125rem rgba(31, 27, 45, .08), 0 .25rem .75rem rgba(31, 27, 45, .08);
}

.container-fluid h5{
    color: #fff;
}